.generic-content-container {

  p {
    line-height: 1.65;
    margin: 1.8rem 0;

    @mixin atSmall {
      /* one a screen is large enough to be considered small, instead of tiny use this size*/
      font-size: 1.125rem;
    }
  }

  p a {
    font-weight: 700;

  }

}
