.generic-content-container {

  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;
      /* clockwise, top right bottom left */

    @mixin atSmall {
      /* one a screen is large enough to be considered small, instead of tiny use this size*/
      font-size: 1.125rem;
    }
  }

  p a {
    font-weight: 700;

  }

}
